BasedOnStyle: LLVM
AllowShortIfStatementsOnASingleLine: Always
AllowShortBlocksOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
IndentWidth: 4
UseTab: Never
AllowShortCaseLabelsOnASingleLine: true